/.vs
/Daifuku/bin/Debug/netcoreapp2.0
/Daifuku/obj
/Daifuku.Tests/bin/Debug/netcoreapp2.0
/Daifuku.Tests/obj
Daifuku.userprefs
/Daifuku.Tests/Daifuku.Tests.csproj.user
/Daifuku.SampleWeb/bin/Debug/netcoreapp2.0
/Daifuku.SampleWeb/obj
/Daifuku.SampleWeb/bin/Debug/netcoreapp2.1
/Daifuku.Tests/bin/Debug/netcoreapp2.1
/Daifuku.SampleWeb/bin/Debug/netcoreapp2.2
NuGet.Config