################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Daifuku/v15
/Daifuku/bin/Debug/netcoreapp2.0
/Daifuku/obj
/Daifuku.Tests/bin/Debug/netcoreapp2.0
/Daifuku.Tests/obj
Daifuku.userprefs
/Daifuku.Tests/Daifuku.Tests.csproj.user
/.vs/config
/Daifuku.SampleWeb/bin/Debug/netcoreapp2.0
/Daifuku.SampleWeb/obj
/.vs/Daifuku/DesignTimeBuild
/Daifuku.SampleWeb/bin/Debug/netcoreapp2.1
/Daifuku.Tests/bin/Debug/netcoreapp2.1
/Daifuku.SampleWeb/bin/Debug/netcoreapp2.2
NuGet.Config
