@model HomeSendToken
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="alert" add-css-class-alert-danger="false">
    Aloha!
</div>
<form asp-controller="Home" asp-action="SendToken" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <required-label asp-for="Name"></required-label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <required-label asp-for="Token"></required-label>
        <input asp-for="Token" class="form-control" />
        <span asp-validation-for="Token" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Send a magic token (@Model.Yup)</button>
    </div>
</form>
@section Scripts
    {
    <script type="text/javascript">
        $(function () {
            axios.get('/api/ajax-ok')
                .then(function (response) {
                    console.log('ok:success', response);
                })
                .catch(function (error) {
                    console.log('ok:error', error);
                });

            axios.get('/api/ajax-bad')
                .then(function (response) {
                    console.log('bad:success', response);
                })
                .catch(function (error) {
                    console.log('bad:error', error);
                });
        });
    </script>
}