@model HomeSendToken
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<form asp-controller="Home" asp-action="SendToken" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <required-label asp-for="Name"></required-label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <required-label asp-for="Token"></required-label>
        <input asp-for="Token" class="form-control" />
        <span asp-validation-for="Token" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Send a magic token</button>
    </div>
</form>